:root {
  --primary-color: #0a0a0a;
  --secondary-color: #ffffff;
  --tertiary-color: #171717;
  --quaternary-color: #212121;
  --quintary-color: #7d7e7d;
  --quintary-color-opacity: rgba(125, 126, 125, 0.5);
  --error-color: #ff7979c9;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  margin: 0;
  font-size: 14px;
  overflow: hidden;
  height: 100vh;
  position: relative;
}

button {
  cursor: pointer;
  box-shadow: 0 0 0 0.05em var(--quintary-color-opacity);
  border: none;
  background: transparent;
}

input,
select {
  outline: none;
  border-radius: 8px;
  padding: 8px;
  background-color: var(--quaternary-color);
  border: none;
  box-shadow: 0 0 0 0.05em var(--quintary-color-opacity);
  border-width: 0.05em;
}

select {
  color: var(--secondary-color);
  cursor: pointer;
}

select option {
  background-color: var(--quaternary-color);
  color: var(--secondary-color);
}
.error {
  color: var(--error-color);
}
.loginHeader {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  align-items: center;

  img {
    width: 80px;
  }
}

.login {
  background-color: var(--tertiary-color);
  width: 80%;
  max-width: 400px;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 0 0 0.05em var(--quintary-color-opacity);
  display: flex;
  flex-direction: column;
  gap: 20px;

  header h1 {
    margin-bottom: 7px;
  }

  p {
    color: var(--quintary-color);
  }
}

.login form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login form div {
  display: flex;
  flex-direction: column;
  gap: 5px;

  label {
    font-weight: 500;
  }
  input {
    color: var(--secondary-color);
  }
}

.login form button {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 10px;
  border-radius: 8px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }
}

.dashboard {
  display: flex;
  gap: 5px;
  height: 100vh;
  overflow: hidden;
  padding: 10px;
  background-color: var(--tertiary-color);
}

.sidebar {
  width: 250px;
  padding: 5px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  section.logo {
    display: flex;
    align-items: center;
    img {
      width: 35px;
      height: 35px;
    }
    h1 {
      font-size: 1.3rem;
    }
  }

  section.userProfile {
    width: calc(100% - 10px);
    position: absolute;
    bottom: 15px;
    display: flex;
    align-items: center;
    gap: 10px;

    div.userProfileInfo {
      display: flex;
      flex-direction: column;

      p:last-child {
        font-size: 0.7rem;
        color: var(--quintary-color);
      }
    }

    button {
      box-shadow: none;
      color: var(--secondary-color);
      justify-self: flex-end;
    }
  }
}

.navItem {
  display: flex;
  align-items: center;
  gap: 6px;
  border-radius: 8px;
  padding: 3px;
  text-decoration: none;
  color: var(--secondary-color);
  width: 100%;
  font-weight: 500;
}

.navItemActive {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.content {
  border-radius: 8px;
  background-color: var(--primary-color);
  flex: 1;
  overflow: auto;
  padding: 10px;

  h1 {
    text-align: center;
  }
}
.Error {
  color: var(--error-color);
  font-size: 0.75rem;
}
.mainContent {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
.userCard {
  min-width: 250px;
  padding: 8px;
  border-radius: 8px;
  color: var(--secondary-color);
  position: relative;
  background-color: var(--quaternary-color);
  box-shadow: 0 0 0 0.05em var(--quintary-color-opacity);

  header {
    margin-bottom: 10px;
  }

  h2 {
    display: flex;
    gap: 5px;
  }

  span.date {
    color: var(--quintary-color);
    font-size: 0.8rem;
    display: flex;
    gap: 5px;
    margin-top: 10px;
  }

  .btn-extend,
  .btn-delete {
    position: absolute;
    right: 0;
    color: var(--secondary-color);
    box-shadow: none;
  }
  .btn-delete {
    bottom: 0;
  }
}

.navbarOptions {
  margin-bottom: 20px;
}

.filters {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;

  div {
    display: flex;
    gap: 10px;
  }
  .apply-filters,
  .refresh-filters {
    background-color: #222;
    color: #fff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

button.createUser {
  background-color: var(--quaternary-color);
  color: var(--secondary-color);
  padding: 5px 20px;
  border-radius: 8px;
}

.modal {
  position: fixed;
  z-index: 100;
  height: 100%;
  width: 100%;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  background-color: #333;
  padding: 10px;
  border-radius: 8px;
  width: 90%;
  width: 400px;
}

.modalForm {
  display: flex;
  flex-direction: column;
  gap: 10px;

  div {
    display: flex;
    flex-direction: column;
    gap: 3px;
    color: #fff;

    input {
      color: #fff;
      background-color: #555;
    }
  }
}

.saveUser,
.cancelSave {
  border-radius: 8px;
  padding-block: 6px;
}

.saveUser {
  background-color: #fff;
}

.cancelSave {
  width: 100%;
  margin-top: 8px;
  background-color: #222;
  color: #fff;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
